//Define some default colors
$orange: #FFAB3A
$blue: #2b4078
$transparent_orange: transparentize($orange, 0.4)
$transparent_blue: transparentize($blue, 0.1)
$hover_color: $orange

//1
@import "1_vendor-extensions/bootstrap-multiselect.sass"
@import "1_vendor-extensions/font-awesome.sass"
@import "1_vendor-extensions/jquery.fileupload.sass"
@import "1_vendor-extensions/jquery.fileupload-ui.sass"
@import "1_vendor-extensions/summernote"
@import "1_vendor-extensions/bootstrap-datepicker"
@import "1_vendor-extensions/open_sans_condensed"
@import "1_vendor-extensions/fonts"

//2
@import "2_layout/banner.sass"
@import "2_layout/footer.sass"
@import "2_layout/layout.sass"
@import "2_layout/menu.sass"
@import "2_layout/responsive.sass"
