//Define some default colors
$orange: #FFAB3A
$blue: #2b4078
$transparent_orange: transparentize($orange, 0.4)
$transparent_blue: transparentize($blue, 0.1)
$hover_color: $orange

// Import Fontawesome
@import "1_vendor-extensions/fontawesome/fontawesome"
@import "1_vendor-extensions/fontawesome/solid"
@import "1_vendor-extensions/fontawesome/regular"
@import "1_vendor-extensions/fontawesome/brands"

// Import other vendor styles
@import "1_vendor-extensions/bootstrap-multiselect"
@import "1_vendor-extensions/open_sans_condensed"
@import "1_vendor-extensions/fonts"

//2
@import "2_layout/banner"
@import "2_layout/footer"
@import "2_layout/layout"
@import "2_layout/menu"
@import "2_layout/responsive"
