# minified files
*.min.*

#CSS files
node_modules/
assets/*

#Config files
application/config/database.php
#application/config/development/*
application/config/email.php

#idea files
.idea/*

#specific files
files/*
fotos/*
images/*
vendor/*

*.png

application/cache/
backend/
frontend/
uploads/*
docker/database_data
images
application/tests/.phpunit.result.cache
application/tests/build
application/tests/application
