RewriteEngine on

#Force www:
RewriteCond %{HTTP_HOST} !\.test$
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

# Enforce https
RewriteCond %{HTTP_HOST} !\.test$
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://www.hydrofiel.nl/%{REQUEST_URI} [L,R=301]

# Remove index.php
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

# One year for image files
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>

# One month for css and js
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>
