html, body {
	background-color: var(--background-color);
	color: var(--secondary-color);
}

.container-fluid {
	padding: 0 !important;
	height: 100%;
}

.container {
	padding-top: 10px;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.no_padding {
	padding: 0;
	margin-top: 3px;
	margin-bottom: 3px;
}

.padding_left {
	padding-left: 15px;
}

.news_content {
	padding-top: 15px;
}
	
.container-item {
	margin-top: 10px;
	margin-bottom: 15px;
}

hr {
	overflow: visible;
	height: 10px;
	border-style: solid;
	border-color: var(--primary-color);
	border-width: 4px 0 0 0;
	margin-top: 2px;
	margin-bottom: 2px;
}

td {
	background-color: var(--background-color);
}

tbody, .text-primary {
	color: var(--secondary-color);
}

.clickable-row {
	cursor: pointer;
	background-color: var(--background-color);
}

.center {
	margin: auto 0;
}

.margin_10_top {
	margin-top: 10px;
}

a {
	color: var(--primary-color);
	cursor: pointer;
	transition: 0.2s all;
}

a:hover {
	color: var(--primary-color);
	text-decoration: underline;
	transform: scale(1.2);
}

.footer-link {
	color: white;
}

.footer-link:hover {
	color: var(--primary-color)
}

[hidden] {
	display: none !important;
}

.oranje_tekst, h1, h2, h3, h4, h5, h6 {
	color: var(--primary-color);
}

.no_margin {
	margin: 0 !important;
}

.img-fluid {
	margin: 10px;
}

.form-signin {
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-control {
	position: relative;
	font-size: 100%;
	height: auto;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin input {
	margin-bottom: 10px;
}
